VITE_RPC_MAINNET=https://eth.llamarpc.com
# VITE_RPC_SEPOLIA=https://sepolia.drpc.org
# VITE_RPC_ARBITRUM=https://arbitrum.drpc.org
# VITE_RPC_OPTIMISM=https://optimism.drpc.org
# VITE_RPC_BSC=https://bsc.drpc.org
# VITE_RPC_AVALANCHE=https://avalanche.drpc.org
# VITE_RPC_BASE=https://base.drpc.org
# VITE_RPC_SONIC=https://sonic.drpc.org
